assignment1/cs231n/datasets
assignment2/cs231n/datasets
assignment3/cs231n/datasets
assignment1/cs231n/__pycache__
assignment2/cs231n/__pycache__
assignment3/cs231n/__pycache__
assignment1/cs231n/__init__.py
assignment2/cs231n/__init__.py
assignment3/cs231n/__init__.py
assignment1/cs231n/classifiers/__init__.py
assignment2/cs231n/classifiers/__init__.py
assignment3/cs231n/classifiers/__init__.py
assignment1/cs231n/classifiers/__pycache__
assignment2/cs231n/classifiers/__pycache__
assignment3/cs231n/classifiers/__pycache__
assignment1/.ipynb_checkpoints
assignment2/.ipynb_checkpoints
assignment3/.ipynb_checkpoints
